<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Battle Page</title>
</head>

<body>
    <table border=1>
    <tr align=center>
        <td></td>
        <td>Player1</td>
        <td>Player2</td>
    </tr>
    <tr>
        <td>이름</td>
        <td><%= pl1.name %></td>
        <td><%= pl2.name %></td>
    </tr>
    <tr>
        <td>Power</td>
        <td>
            <%= pl1.power %>
            <% if(pl1.wp != null) { %>
                + <%= pl1.wp.power %>
            <% } %>
        </td>
        <td>
            <%= pl2.power %>
            <% if(pl2.wp != null) { %>
                + <%= pl2.wp.power %>
            <% } %>
        </td>
    </tr>
    <tr>
        <td>Hp</td>
        <td><%= pl1.hp %></td>
        <td><%= pl2.hp %></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td><% if(pl1.wp == null) { %>
                Fist
            <% } else { %>
                <%= pl1.wp.name %>
            <% } %>
        </td>
        <td><% if(pl2.wp == null){ %>
                Fist
            <% } else { %>
                <%= pl2.wp.name %>
            <% } %>
        </td>
    </tr>
    <tr align=center>
        <td></td>
        <td>
            <form action="/battle" method="get">
                <input type="submit" name="a" value="공격1">
            </form>
        </td>
        <td>
            <form action="/battle" method="get">
                <input type="submit" name="a" value="공격2">
            </form>
        </td>
    </tr>
    </table>
</body>
</html>